---

---

<div
  style='display: flex; height: 630px; width: 1200px; flex-direction: column; background-color: #fafafa; padding: 4rem; font-family: "Inter"; color: #09090b; box-sizing: border-box;'
>
  <slot />
</div>
