---
import { getEntry } from 'astro:content'

const links = await getEntry('menu', 'main')
---

<Fragment>
  {
    links && links.data.items.length > 0 && (
      <nav class='-mx-2 my-2 w-full md:mx-0'>
        <ul class='flex justify-center gap-4'>
          {links.data.items.map((link) => (
            <li class='text-primary-700 hover:text-primary-700/60 font-bold transition-colors group-[[data-image=true]]:text-neutral-50 hover:group-[[data-image=true]]:text-neutral-50/80'>
              <a href={link.url}>{link.label}</a>
            </li>
          ))}
        </ul>
      </nav>
    )
  }
</Fragment>
