---
import Layout from '~/layouts/layout.astro'
import type { CollectionEntry } from 'astro:content'
import Main from '~/components/common/main.astro'
import Posts from '~/components/posts/posts.astro'

interface Props {
  title?: string
  posts: Array<CollectionEntry<'pages'>>
}

const { title, posts } = Astro.props
---

<Layout title={title && `Tag: ${title}`}>
  <Main>
    {title && <h1 class='mb-8 text-4xl font-bold'>{`Tag: ${title}`}</h1>}
    <Posts posts={posts} />
  </Main>
</Layout>
