---
import Layout from '~/layouts/layout.astro'
import Main from '~/components/common/main.astro'

interface Props {
  title?: string | undefined
}

const { title } = Astro.props
---

<Layout title={title && `Tag: ${title}`}>
  <Main>
    {
      title && (
        <h1 class='mb-10 border-b border-b-neutral-200 pb-2 text-2xl font-bold md:text-4xl'>{`Tag: ${title}`}</h1>
      )
    }
    <slot />
  </Main>

  <Fragment slot='head'>
    <slot name='head' />
  </Fragment>
</Layout>
