---
import Layout, { type Props as LayoutProps } from './layout.astro'
import type { HTMLAttributes } from 'astro/types'

interface Props
  extends Pick<LayoutProps, 'title' | 'description' | 'image'>,
    Omit<HTMLAttributes<'article'>, 'title'> {}

const { title, description, image, class: className, ...props } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <main class='mx-auto mb-24 max-w-screen-md'>
    <article
      {...props}
      class:list={[
        'prose prose-zinc md:prose-xl prose-p:font-serif md:prose-h1:text-6xl max-w-none px-4 md:px-0',
        className
      ]}
    >
      <h1>{title}</h1>
      <slot />
    </article>
  </main>
</Layout>
